
<!DOCTYPE html>
<html>
<head>
<style>
body {
        background-color: rgb(47, 71, 204);
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }



</style>
</head>
<body>
    <h1> Argument Analyser </h1>
    <p> Welcome to Argument Analyser! This web-tool aims to break down the arguments in your persuasive essays and give you feedback based on them.</p>
    <p>This is done by extracting the Argument Components in your essay, and basing criteria based on them. Argument Components are seen as:</p>
    <p>Major Claims - The overall Thesis statements of your essay. They often appear in your introduction and conclusion.</p>
    <p>Claims - The points made to justify your Major Claims. They essentially make up the sub-arguments within your essay. They often appear in your main body paragraphs.</p>
    <p>Premises - The reasoning behind your Claims. They provide context and justifications. Several of these often appear in your main body paragraphs.</p>
<form method = "POST">
    <textarea id="text" name="text" rows="30" cols="50" placeholder="Please, insert your essay into the text area. Include the prompt of your essay at the top of the text area."></textarea>
    <h1></h1>
    <input type="submit" value="Submit">
</form>
</body>
</html>
