
<!DOCTYPE html>
<html>
<head>
<style>
body {
        background-color: rgb(47, 71, 204);
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }



</style>
</head>
<body>
    <h1> Argument Analyser </h1>
<form method = "POST">
    <textarea id="text" name="text" rows="30" cols="50" placeholder="Please, insert your essay into the text area. Include the prompt of your essay at the top of the text area."></textarea>
    <h1></h1>
    <input type="submit" value="Submit">
</form>
</body>
</html>
